<h1> Find out what triangle type </h1>

<form action="/output">
  <div class="form-group">
    <label for="length1"> Side A </label>
    <input id="s1" name="length1" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="length2"> Side B </label>
    <input id="s2" name="length2" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="length3"> Side C </label>
    <input id="s3" name="length3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-default">GO!</button>
</form>
